.counter-form {
    max-width: 500px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px auto 0;
}

.count-number {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    column-gap: 10px;
}

.increment-btn,
.reset-btn,
.decrement-btn {
    padding: 8px 15px;
    color: #fff;
}

.increment-btn {
    background-color: green;
}

.decrement-btn {
    background-color: red;
}

.reset-btn {
    background-color: black;
}
