.footer {
    width: 100%;
    background: #2b2b2b;
    padding-block: 57px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #55b74c;
    margin-bottom: 20px;
}

.footer-content__item-nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-content__links {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #898989;
}

.footer-content__phone {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.phone_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}

.footer-content__phone img {
    width: 23px;
    height: 23px;
}
